*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size:62.5%;
}

/* layout for website */
header{
    display:flex;
    flex-wrap: wrap;
}

nav ul{
    display:flex;
    justify-content:flex-start;
    
}
nav ul li{
    padding:5px
}

.nav_logo {
    display:flex;
}

div ul{
    display:flex;
    align-items: center;
}

.nav_logo{
    list-style: none;
}

/* content feautures */

nav ul{
    list-style: none;
    font-size: 11px;

}

.card-container{
    flex-wrap:wrap;
    justify-content: space-between;
    display:flex;

}
.card{
    height: 60rem;
    width: 30rem;

}

.product-image{
    height:45%;
    overflow:hidden;
} 